<footer class="page-footer special-color-dark bg-dark">
    <div class="container-fluid">
    <div class="row justify-content-between" style="padding: 10px">

        <div class="col-md-4" style="border: 3px solid white">
            <div class="row h-25 text-center">
                <div class="col align-items-center text-white text-muted">
                    Liens utiles
                </div>
            </div>
            <div class="row justify-content-center h-50">
                    <div class="col" style="border: 3px solid white">
                        <div class="row justify-content-center" >
                            <span class="logo-je-img img-fluid"></span>
                        </div>
                        <div class="row justify-content-center text-white small">Junior Entreprises</div>
                    </div>
                    <div class="col" style="border: 3px solid white">
                        <div class="row justify-content-center">
                            <span class="logo-kiwi-img img-fluid"></span>
                        </div>
                        <div class="row justify-content-center text-white small">Kiwi légal</div>
                    </div>
                    <div class="col" style="border: 3px solid white">
                        <div class="row justify-content-center">
                            <span class="logo-support-img img-fluid"></span>
                        </div>
                        <div class="row justify-content-center text-white small">Support</div>
                    </div>
            </div>
        </div>

        <div class="col-md-4" style="margin: 10px 0px">
            <div class="row justify-content-center align-items-end h-50">
                <span class="logo-isep-img"></span>
            </div>
            <div class="row justify-content-center align-items-start text-white h-50" >Développé par
                <a href="https://juniorisep.com/" class="text-light" target="_blank">Junior ISEP</a>
            </div>
        </div>

        <div class="col-md-4" style="border: 3px solid white; margin: 10px 0px">
                <div class="row justify-content-center">
                    <p class="text-muted">Avec le soutien de nos partenaires</p>
                </div>

                <div class="row">
                    <div class="col" style="border: 3px solid grey" >
                        <img class="img-fluid" style="border: 3px solid grey" src="../../../content/images/Partner%20logos/bnp.png" />
                    </div>
                    <div class="col" style="border: 3px solid grey">
                        <img class="img-fluid" style="border: 3px solid grey" src="../../../content/images/Partner%20logos/alten.png" />
                    </div>
                    <div class="col" style="border: 3px solid grey">
                        <img class="img-fluid" style="border: 3px solid grey" src="../../../content/images/Partner%20logos/ey.png" />
                    </div>
                    <div class="col" style="border: 3px solid grey">
                        <img class="img-fluid" style="border: 3px solid grey" src="../../../content/images/Partner%20logos/engie.png" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
