<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-owner-heading">Créer ou éditer une mission</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nom</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                            Ce champs est requis
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_projectManagerEmail">Nom</label>
                    <input type="email" class="form-control" name="projectManagerEmail" id="field_projectManagerEmail"
                           formControlName="projectManagerEmail"/>
                    <div *ngIf="editForm.get('projectManagerEmail')!.invalid && (editForm.get('projectManagerEmail')!.dirty || editForm.get('projectManagerEmail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('projectManagerEmail')?.errors?.required">
                            Ce champs est requis
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('projectManagerEmail')?.errors?.email">
                            Email invalide
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
                </button>
            </div>
        </form>
    </div>
</div>
