<div class="card jh-card">
    <h2 id="page-heading">
        <span>Mes Missions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mission" [routerLink]="['/mission/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Créer une nouvelle mission
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="missions?.length === 0">
        <span>Aucune mission trouvée</span>
    </div>

    <div class="float-right">
        <label for="research">Recherche</label>
        <input type="text" class="form-control" id="research" [(ngModel)]="searchTerm" (ngModelChange)="loadAll()">
    </div>

    <div class="table-responsive" id="entities" *ngIf="missions && missions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                <th scope="col" jhiSortBy="name" class="text-center"><span>Nom</span><fa-icon icon="sort"></fa-icon></th>
                <th scope="col" jhiSortBy="createdAt" class="text-center"><span>Date de création</span><fa-icon icon="sort"></fa-icon></th>
                <th scope="col" class="text-center"><span>Nombre de postes</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mission of missions ;trackBy: getId">
                <td class="text-center"><a [routerLink]="['/mission', mission.id, 'view']">{{ mission.name }}</a></td>
                <td class="text-center">{{ mission.createdAt | date:'dd/MM/yy HH:mm' }}</td>
                <td class="text-center">{{ mission.positions?.length }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mission', mission.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">Voir</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/mission', mission.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Modifier</span>
                        </button>

                        <button type="submit" (click)="delete(mission)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Supprimer</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="missions">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
        </div>
    </div>

</div>
