<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mission">
            <h2><span>Mission: </span> {{ mission.name }}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="table-responsive">
                <table *ngIf="mission.positions && mission.positions.length > 0" class="table table-striped ">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 16%">Date</th>
                        <th scope="col" style="width: 10%">Durée</th>
                        <th scope="col" style="width: 32%">Description</th>
                        <th scope="col" style="width: 16%">Type de poste</th>
                        <th scope="col" style="width: 10%">Status</th>
                        <th scope="col" style="width: 16%">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let position of mission?.positions ;trackBy: getPositionId">
                        <td>{{position.createdAt | date: 'yyyy-MM-dd'}}</td>
                        <td>{{position.duration}}</td>
                        <td><div style="max-height: 100px; overflow-y: auto">{{position.description}}</div></td>
                        <td>{{position.jobType!.name}}</td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" [id]="position.id" (click)="togglePosition(position)" [checked]="position.status">
                                <label class="custom-control-label" [for]="position.id" ></label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="submit" [routerLink]="['/mission', mission.id,'position', position.id, 'edit']" class="btn btn-info btn-sm">
                                    <fa-icon icon="eye"></fa-icon><span class="d-none d-md-inline">Voir</span>
                                </button>
                                <button type="submit" (click)="delete(position)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="trash-alt"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/mission', mission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
            </button>

            <button type="button"
                    [routerLink]="['/mission', mission.id, 'position', 'new']"
                    class="btn btn-primary float-right">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Nouveau poste</span>
            </button>
        </div>
    </div>
</div>
