<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mission">
            <h2><span>Mission: </span> {{ mission.name }}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <table *ngIf="mission.positions && mission.positions.length > 0" class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Description</th>
                    <th scope="col">Travail</th>
                    <th scope="col">Status</th>
                    <th scope="col">Voir plus</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let position of mission?.positions ;trackBy: getPositionId">
                    <th>{{position.createdAt | date: 'yyyy-MM-dd'}}</th>
                    <td>{{position.duration}}</td>
                    <td>{{position.description}}</td>
                    <td>{{position.jobType!.name}}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" [id]="position.id" (click)="togglePosition(position)" [checked]="position.status">
                            <label class="custom-control-label" [for]="position.id" ></label>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon><span class="d-none d-md-inline">Voir</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/mission', mission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
            </button>
        </div>
    </div>
</div>
