<div class="card jh-card">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mission">
            <h2><span>Postes pour la mission: </span> {{ mission.name }}</h2>
            <hr>
            <div class="table-responsive">
                <table *ngIf="mission.positions && mission.positions.length > 0" class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center"><span>Date</span><fa-icon></fa-icon></th>
                        <th scope="col" class="text-center"><span>Durée</span><fa-icon></fa-icon></th>
                        <th scope="col" class="text-center"><span>Description</span><fa-icon></fa-icon></th>
                        <th scope="col" class="text-center"><span>Type de poste</span></th>
                        <th scope="col" class="text-center"><span>Status</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let position of mission?.positions ;trackBy: getPositionId">
                        <td class="text-center" style="width: 16%">{{position.createdAt | date: 'yyyy-MM-dd'}}</td>
                        <td class="text-center" style="width: 10%">{{position.duration}}</td>
                        <td class="text-center" style="width: 32%"><div style="max-height: 100px; overflow-y: auto">{{position.description}}</div></td>
                        <td class="text-center" style="width: 16%">{{position.jobType!.name}}</td>
                        <td class="text-center" style="width: 10%">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" [id]="position.id" (click)="togglePosition(position)" [checked]="position.status">
                                <label class="custom-control-label" [for]="position.id" ></label>
                            </div>
                        </td>
                        <td class="text-center" style="width: 16%">
                            <div class="btn-group">
                                <button class="btn btn-warning btn-sm" [disabled]="!position?.status!" (click)="sendNotification(position!)">
                                    <fa-icon icon="bell"></fa-icon><span class="d-none d-md-inline">Notification</span>
                                </button>
                                    <button type="submit" [routerLink]="['/mission', mission.id,'position', position.id, 'edit']" class="btn btn-info btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon><span class="d-none d-md-inline">Modifier</span>
                                </button>
                                <button type="submit" (click)="delete(position)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="trash-alt"></fa-icon><span class="d-none d-md-inline">Supprimer</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
            </button>
            <button type="button"
                    [routerLink]="['/mission', mission.id, 'position', 'new']"
                    class="btn btn-primary float-right">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Nouveau poste</span>
            </button>
        </div>
    </div>
</div>
</div>
