<div class="card jh-card">

<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span>Junior-Entreprise: </span> {{ company.id }}</h2>

            <hr />

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ company.name }}</span>
                </dd>
                <dt><span>Modèle de l'adresse email</span></dt>
                <dd>
                    <span>{{ company.emailTemplate }}</span>
                </dd>
                <dt><span>Couleur</span></dt>
                <dd>
                    <span>{{ company.color }}</span>
                    <span><button type="button" class="btn btn-primary" [ngStyle]="{'background-color': company.color}"></button></span>
                </dd>
                <dt><span>Site internet</span></dt>
                <dd>
                    <span><a target="_blank" href="{{ company.websiteUrl }}">{{ company.websiteUrl }}</a></span>
                </dd>
                <dt><span>Nombre d'utilisateurs inscrits</span></dt>
                <dd>
                    <span>{{ company.totalUsers }}</span>
                </dd>
                <dt><span>Logo</span></dt>
                <dd>
                    <span><img *ngIf="imageUrl" [src]="imageUrl" class="img-fluid" style="width: 100px"></span>
                </dd>
            </dl>

            <button type="button"
                    [routerLink]="['/company/own/update']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
</div>

