<div class="card jh-card">
    <div>
    <h2 id="page-heading">
        <span>Junior-Entreprises</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Créer une nouvelle Junior-Entreprise
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="companies?.length === 0">
        <span>Aucune Junior-Entreprise trouvée</span>
    </div>

    <div class="float-right">
        <label for="research">Recherche</label>
        <input type="text" class="form-control" id="research" [(ngModel)]="searchTerm" (ngModelChange)="loadAll()">
    </div>

    <div class="table-responsive" id="entities" *ngIf="companies && companies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)" >
                <th scope="col" jhiSortBy="name" class="text-center"><span>Nom</span><fa-icon icon="sort"></fa-icon></th>
                <th scope="col" jhiSortBy="createdAt" class="text-center"><span>Date de création</span><fa-icon icon="sort"></fa-icon></th>
                <th scope="col" jhiSortBy="emailTemplate" class="text-center"><span>Template d'adresse email</span><fa-icon icon="sort"></fa-icon></th>
                <th scope="col" jhiSortBy="totalUsers" class="text-center"><span>Nombre d'utilisateurs inscrits</span><fa-icon icon="sort"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of companies ;trackBy: getId">
                <td class="text-center">{{ company.name }}</td>
                <td class="text-center">{{ company.createdAt | date:'dd/MM/yy HH:mm' }}</td>
                <td class="text-center">{{ company.emailTemplate }}</td>
                <td class="text-center">{{company.totalUsers}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Modifier</span>
                        </button>

                        <button type="submit" (click)="delete(company)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Supprimer</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="companies">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
        </div>
    </div>
    </div>
</div>
