<div>
    <h2 id="page-heading">
        <span>Mes types de poste</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mission" [routerLink]="['/job-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Créer un nouveau type de poste
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobTypes?.length === 0">
        <span>Aucun type de poste trouvé</span>
    </div>

    <div class="float-right">
        <label for="research">Recherche</label>
        <input type="text" class="form-control" id="research" [(ngModel)]="searchTerm" (ngModelChange)="loadAll()">
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobTypes && jobTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                <th scope="col" jhiSortBy="name"><span>Nom</span><fa-icon icon="sort"></fa-icon></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobType of jobTypes ;trackBy: getId">
                <td><a [routerLink]="['/mission', jobType.id, 'view']">{{ jobType.name }}</a></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/job-type', jobType.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">Voir</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/job-type', jobType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Modifier</span>
                        </button>

                        <button type="submit" (click)="delete(jobType)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Supprimer</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="jobTypes">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
        </div>
    </div>

</div>
