<div class="row justify-content-center">
    <div class="col-8">
    <h1 class="display-4">{{account ? "Bienvenue, "+ (account.company?.name ? account.company?.name : "ADMIN") : "Back-Office application mobile"}}</h1>

    <div [ngSwitch]="isAuthenticated()">
        <div *ngIf="positions && positions.length > 0">
            <h1 class="display-6">Poste en cours</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Description</th>
                    <th scope="col">Travail</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let position of positions ;trackBy: getPositionId">
                    <th>{{position.createdAt | date: 'yyyy-MM-dd'}}</th>
                    <td>{{position.duration}}</td>
                    <td>{{position.description}}</td>
                    <td>{{position.jobType!.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="isAuthenticated() && !positions">
            <h1 class="display-6">Pas de poste en cours</h1>
        </div>

        <div class="alert alert-warning" *ngSwitchCase="false">
            <span>If you want to </span>
            <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
        </div>

        <div class="alert alert-warning" *ngSwitchCase="false">
            <span>You don't have an account yet?</span>&nbsp;
            <a class="alert-link" routerLink="account/register">Register a new account</a>
        </div>
    </div>
    </div>
</div>
