<div class="row">
    <div class="col-md-5 col-sm-12 py-3">
        <div class="card p-4 h-100" style="border-radius: 3%" >
        <div class="row">
            <div class="col-8 my-auto">
                <h1 class="display-5 text-responsive">{{"Bonjour,  Junior ISIT !"}}</h1>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="../../content/images/home%20page/illustration-bienvenue.svg" />
            </div>
        </div>
        <div class="row p-3 mt-3">
            <p>
                Bienvenue sur l’espace d’administration de votre application mobile à destination des consultants de
                votre école. Vous avez la possibilité d’y ajouter des missions à pourvoir, et d’y administrer votre
                équipe de consultants. En cas de problème n’hésitez pas à nous écrire à support@juniorisep.com
                <br />
                <br />
                A bientôt
            </p>
        </div>
        <div class="row">
            <div class="col text-center my-auto">
                <img class="img-fluid" style="height: 80px" src="../../content/images/home%20page/logo-JE.png" />
            </div>
            <div class="col text-center my-auto">
                <img class="img-fluid" style="height: 100px" src="../../content/images/home%20page/logo-JISEP.png" />
            </div>
        </div>
    </div>
    </div>

    <div class="col-md-7 col-sm-12 py-3" >
        <div class="card h-100 p-4" style="border-radius: 3%;" >
        <div class="row">
            <div class="col-8 pl-md-5">
                <h1 class="display-5 text-responsive">Actuellement sur votre application</h1>
            </div>
            <div class="col-4 my-auto">
                <label for="research">Recherche</label>
                <input type="text" class="form-control" id="research" [(ngModel)]="searchTerm" (ngModelChange)="loadAll()">
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col">
                <div class="table-responsive" id="entities" *ngIf="positions && positions.length > 0">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                            <th scope="col" jhiSortBy="createdAt" class="text-center"><span>Date</span><fa-icon icon="sort"></fa-icon></th>
                            <th scope="col" jhiSortBy="mission.name" class="text-center"><span>Mission</span><fa-icon icon="sort"></fa-icon></th>
                            <th scope="col" jhiSortBy="placesNumber" class="text-center"><span>Nombre de places</span><fa-icon icon="sort"></fa-icon></th>
                            <th scope="col" jhiSortBy="remuneration" class="text-center"><span>Rémunération</span><fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"class="text-center"><span>Statut</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let position of positions ;trackBy: getPositionId">
                            <td class="text-center">{{ position.createdAt | date:'dd/MM/yy HH:mm'}}</td>
                            <td class="text-center">{{ position.mission!.name }}</td>
                            <td class="text-center">{{ position.placesNumber }}</td>
                            <td class="text-center">{{ position.remuneration }} €</td>
                            <td class="text-center">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" [id]="position.id" (click)="togglePosition(position)" [checked]="position.status">
                                    <label class="custom-control-label" [for]="position.id" ></label>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="submit"
                                            [routerLink]="['/mission', position.mission!.id, 'position', position.id, 'edit']"
                                            class="btn btn-info btn-sm">
                                        <fa-icon icon="eye"></fa-icon>
                                        <span class="d-none d-md-inline">Voir</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="positions">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>

                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="isAuthenticated()">
            <div *ngIf="isAuthenticated() && ( positions && positions!.length < 1)">
                <h1 class="display-6">Pas de poste en cours</h1>
            </div>
        </div>
        </div>
    </div>

</div>




